page-video-popover {

    #iframeContainer{
	width:100%;
	height:100%;
	display:flex;
	justify-content:center;
	align-item:center;
}

iframe{
	width:100%;
	
}

video {
  width: 100%    !important;
  height: auto   !important;
  margin:auto;
}

}
