page-questions-view {
    .questionsPageBlock {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        font-family: "Arsenal", sans-serif !important;
    }
    .questionBlock {
        flex: 1;
    }
    .questionText {
        padding: 1em;
        text-align: center;
    } 
    .questionText h4 { 
        text-align: left;
        font-weight: bold;
    } 
    .questionText img {
        height: 200px;
        width: auto;
        margin: auto;
    }
    .answersListItem {
        border-bottom: solid 1px #888;
        padding: 0.3em 0.8em;
        width: 100%;
        display: flex;
        height: 40px;
        margin: 0;
        align-items: center;
    }
    .answersListItem span.ionIcon
    {
        width: 30px;
        text-align: left;
    }
    #optiontext
    {
        text-align: left;
        flex: 1;
    }
    .item-ios.item-block .item-inner {
        border-bottom: none;
    }
    .actionsBlock {
        height: 60px;
        text-align: center;
    }
    .actionsBlock button {
        height: 40px;
        font-size: 1.4em;
        margin: auto 10px;
        min-width: 100px;
        background-color: #30619b;
        border-radius: 4px;
        color: #fff;
        text-transform: uppercase;
    }
    .timerText {
        color: #fff;
        font-size: 1.5em;
        margin: 0;
    }
    #questionExplaitonContainer p
    {
        padding: 0 0.8em;
            line-height: 24px;
    }
    #questionExplaitonContainer p span
    {
        font-weight: bold;
    }

    .redText{
        color:#f00;
        font-weight: bold;
    }

    .greenText{
        color: #0c0;
        font-weight: bold;
    }

    .explainBtnContainer{
        margin-top: 2em;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .totalAnswersText{
        font-size: 1.5em;
        font-weight: bold;
        padding-right: 10px; 
    }

    .opaqueText{
        opacity: 0;
    }   

}