<ion-content>
  <div id="loginContainer">
    <div class="loginPageSection" *ngIf="!user_logged">
      <div class="loginPageHead">
        <h2>CBS Exam Books</h2>
        <h4>Get Started</h4>
      </div>
      <section id="loginFormOuterContainer">
        <div id="loginFormContainer">
          <form [formGroup]="userdata" (ngSubmit)="logForm()">
            <ion-item class="login-item">
              <ion-input class="input" type="text" placeholder="Email" formControlName="email" value=""></ion-input>
              <ion-icon name="ios-at-outline" item-right></ion-icon>
            </ion-item>
            <ion-item class="login-item">
              <ion-input class="input" type="password" placeholder="Password" formControlName="password" value=""></ion-input>
              <ion-icon name="ios-key-outline" item-right></ion-icon>
            </ion-item>
            <button ion-button block large id="loginButton" type="submit">         
             LOGIN
            </button>
            <p>
              <ion-spinner color="light" *ngIf="loginFormSubmit"></ion-spinner>
            </p>
          </form>
        </div>
        <div id="forgotpasswordlink">
          <p>
            <a (click)="goToForgotPassPage()">Forgot Password?</a>
          </p>
        </div>

        <div id="signUpLink" *ngIf="!isIos">
          <p>
            Don't have an account? <a (click)="goToSignUp()">Sign Up </a>
          </p>
        </div>

      </section>
    </div>
    <div *ngIf="user_logged" class="loadingDiv">
      <ion-spinner color="light"></ion-spinner>
    </div>
  </div>

</ion-content>

<!-- value="dhrajesh1@gmail.com" 123456-->
