page-login-page {
    #loginContainer {
        width: 100%;
        height: 100%;
        background-color: #670000;
        position: absolute;
        font-family: "Arsenal", sans-serif !important;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #loginFormContainer {
        width: 80%;
        padding: 10px;
        margin: 0 auto;
    }
    #loginFormOuterContainer {
        width: 100%;
    }
    .input {
        border-bottom: 1px solid red;
    }
    .input input::-webkit-input-placeholder {
        color: #006064;
        font-weight: bold;
    }
    .login-item {
        border: none !important;
        margin-bottom: 15px;
        background-color: #fff;
        padding: 0.5em;
    }
    .login-item2 {
        margin-bottom: 15px;
        background: none;
        padding: 0;
    }
    .login-item2 .item-inner {
        border: none !important;
    }
    .login-item * {
        border: none !important;
    }
    .loginPageHead {
        padding: 1em;
        height: 200px;
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .loginPageHead h2 {
        font-weight: 400;
        font-size: 2.8em;
        color: #fff;
    }
    .loginPageHead h4 {
        font-weight: 400;
        font-size: 1.4em;
        color: #fff;
        margin-bottom: 2em;
    }
    .loginPageBtns {
        padding: 0;
        background-color: #213c67;
        color: #fff !important;
    }
    .loginBtnTxt {
        flex:1;
        color: #fff !important;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        font-size: 1.5em;
        letter-spacing: 2px;
    }

    #loginButton{
        width: 100%;
        height: 60px;
        background: #121212 ;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    }

    span.iconContainer{
        width: 80px;
        text-align: center;
    }
}