page-complete-view {
    
    .completeBookInfo{
        width: 100%;
        float:left;
        background-color: #545454;
        padding: 1em 0em 0.8em 3em;
        font-family: "Arsenal", sans-serif !important;
    }
    .completeBookInfoImg{
        width: 40%;
        float:left;
    }
    .completeBookInfoImg img{
        width: 140px;
        height: 195px;
        box-shadow: 0 0 4px rgba(0,0,0,0.4);
    }
    .completeBookInfoText{
        width: 60%;
        float:left;
        position: relative;
        min-height: 195px;
    }
    .completeBookInfoText h3{
        margin: 0;
        margin-bottom: 10px;
        color: #fff;
    }
    .completeBookInfoText p{
        margin: 0;
        margin-bottom: 10px;
        color: #fff;
    }
    .completeBookInfoText ul{
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 0;
    }
    .completeBookInfoText ul li{
        display: inline;
    }
    
    
    .roundButtonNew2
    {
        padding: 8px 12px;
        background-color: #265a96;
        border: solid 1px #8ebae9;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: bold;
        color: #fff;
        margin-right: 10px;
        border-radius: 6px;
    }
    .chapterList{
        width: 100%;
        float:left;
        font-family: "Arsenal", sans-serif !important;
    }
    .chapterList h3
    {
        background-color: #fff;
        text-align: center;
        font-size: 1.4em;
    }
    .checkbox-ios .checkbox-icon
    {
        background-color: #222;
        border: solid 1px #222;
    }
    .itemNewClass{
        background-color: #d4d4d4 !important;
        border-bottom: solid 1px #888;
    }
    .item-ios.item-block .item-inner{
        border-bottom: none;
    }

    .loadingSpinnerContainer{
        width: 100%;
        min-height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .label-md, .label-ios{
        white-space: initial !important;
    }
}