page-privacy-policy {
    .privacyPolicyText {
        font-family: "Arsenal", sans-serif !important;
    }
    .privacyPolicyText p
    {
        margin-bottom: 15px;
        color: #565656;
        font-size: 1.3em;
    }
}