page-results-view{
    .resultsView{ 
        width: 100%;
        float: left;
        font-family: "Arsenal", sans-serif !important;
    }
    .resultsViewChart 
    {
        padding: 1em;
        width: 100%;
        float: left;
    }
}