page-about-us {
    .aboutUsh2
    {
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 1.4em;
    }
    .aboutUsh3
    {
        font-size: 1.2em;
        margin-bottom: 10px;
        color: #1063bf;
        font-weight: bold;
    }
    .aboutUsp
    {
        font-size: 1em;
        margin-bottom: 10px;
    }
    span.blueText
    {
        color: #1063bf;
        font-weight: bold;
    }
    span.orangeText
    {
        color: #ff7700;
        font-weight: bold;
    }
    .aboutUsh4
    {
        font-size: 1.2em;
        margin-bottom: 10px; 
        font-weight: bold;
    }
    .aboutUsUl
    {
        padding-left: 17px;
    }
    .contactUsh2
    {
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 1.4em;
    }
    .contactUsp
    {
        font-size: 1em;
        margin-bottom: 10px;
    }
    .contactUsp a
    {
        color: #1063bf;
        font-weight: bold;
    }
}
